body {
    font-family: Roboto;
}

.header_logo_white {
    display: none;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0px;
}

.text_margin {
    margin-left: 34px;
    margin-right: 33px;
}


.top_text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.navbar {
    padding-top: 25px;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    justify-content: center;
}

.top {
    background: #E0E1E2;
    padding-bottom: 48px;
}

.top_img {
    margin-top: 94px;
    height: 230px;
    background-image: url(img/MX-Master\ 1.png);
    background-size: contain;
    margin-bottom: 67px;
    background-repeat: no-repeat;
    background-position: center;
}

.top-arrow {
    margin-top: 40px;
}

.top_svg {
    width: 42px;
    height: 22px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth_icon {
    margin-bottom: 27px;
}

.bluetooth_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.bluetooth_img {
    height: 288px;
    background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info_item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
    flex-direction: column;
    justify-content: center;
}


.info_content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.carousel {
    margin-bottom: 100px;
}

.info_text {
    margin-left: 67px;
    margin-right: 61px;
}

.info_item-heading {
    margin-bottom: 5px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.flow_ol {
    margin-top: 36px;
    padding-left: 54px;
}

.text_flow {
    margin-bottom: 23px;
    text-align: left;
    width: 222px;
}

.settings {
    padding-top: 70px;
    background-color: #EDEDED;
}

.settings_slider {
    margin: 35px 22px 98px 23px;
}

.settings_slider-img {
    display: none;
}

.settings_content {
    background-color: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings_icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text_settings {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 11px;
}

.mouse_text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse_img {
    height: 310px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse_img_1 {
    background-image: url(img/image\ 1.jpg);
}

.mouse_img_2 {
    background-image: url(img/image\ 2.png);
}

.footer {
    background: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;

}

@media (min-width: 768px) {
    .top {
        padding-bottom: 80px;
    }

    .navbar {
        padding-top: 54px;
    }

    .top_img {
        margin-top: 159px;
        height: 514px;
        margin-bottom: 124px;
    }

    .top_svg {
        width: 61px;
        height: 33px;
    }

    .header_logo {
        width: 240px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .text_margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top_text-margin {
        margin-left: 159px;
        margin-right: 159px;
    }

    .top-arrow {
        margin-top: 76px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }

    .bluetooth_heading {
        font-size: 150px;
        line-height: 176px;
    }

    .bluetooth_img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }

    .info_content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info_item-heading {
        margin-bottom: 5px;
    }

    .info_item {
        min-height: 170px;
    }

    .info_heading {
        line-height: 28px;
        font-size: 24px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

    .text_flow-p {
        margin-left: 0px;
        margin-right: 0px;
    }

    .flow_ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0;
    }

    .text_flow {
        width: auto;
        padding-right: 21px;
        padding-left: 28px;
        padding-top: 8px;
        padding-bottom: 4px;
        border-left: 1px solid #494949;
        font-size: 20px;
        line-height: 23px;
    }

    .text_flow:first-child {
        border-left: none;
        padding-left: 0;
    }

    .text_flow:last-child {
        padding-right: 0;
    }

    .settings {
        padding-bottom: 70px;
    }

    .settings_content {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings_icons {
        margin-right: 104px;
        margin-left: 98px;
    }

    .settings_img {
        height: 35px;
    }

    .settings_slider {
        margin: 54px 198px 150px;
    }

    .heading_settings-p {
        margin-left: 215px;
        margin-right: 215px;
    }

    .heading_settings {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings-p {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings {
        font-size: 20px;
        line-height: 23px;
    }

    .text_mouse {
        margin-left: 0;
        margin-right: 0;
    }

    .mouse_text {
        padding-left: 67px;
        padding-right: 65px;
        padding-bottom: 50px;
    }

    .mouse_img {
        height: 549px;
    }


    .footer {
        font-size: 14px;
        line-height: 16px;
        height: 150px;
        padding-top: 47px;
    }
}

@media (min-width: 1024px) {
    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .header {
        background: #2F3132;
        height: 100px;
        display: flex;
        align-items: center;

    }

    .top-arrow {
        margin-top: 49px;
    }

    .header_logo_white {
        display: block;
        width: 150px;
    }

    .header_logo_dark {
        display: none;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: 1px solid #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: space-between;
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }


    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949;
    }

    .nav-item:first-child {
        padding-left: 0;
    }

    .nav-item:last-child {
        padding-right: 0;
        border: none;
    }

    .top_img {
        margin-top: 20px;
        height: 671px;
        padding-top: 80px;
        margin-bottom: 8px;
    }

    .bluetooth_img {
        height: 427px;
        background: url(img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px,
            url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 2.png) no-repeat right 119px;
        margin-left: 0;
        margin-right: 0;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth {
        padding-bottom: 80px;
    }

    .bluetooth_heading_day {
        font-size: 300px;
        line-height: 352px;
        padding-left: 73px;
    }

    .bluetooth_heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth_heading_day-mini {
        padding-top: 45px;
    }

    .indo {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info_text {
        width: 765px;
        margin: auto;
    }

    .info-item {
        min-height: 140px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info_item-heading {
        margin-bottom: 5px;
    }

    .info_slider {
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
    }

    .text_info {
        width: 765px;
        margin: auto;
    }

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow_ol {
        margin-left: 15px;
    }

    .flow {
        padding-bottom: 870px;
    }

    .settings {
        padding-bottom: 100px;
    }

    .settings_slider {
        display: none;
    }

    .text_settings-p {
        width: 598px;
        margin: auto;
    }

    .settings_slider-img {
        display: flex;
        justify-content: center;
        margin-top: 71px;
    }

    .settings_content {
        width: 749px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse_center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    }

    .mouse_item {
        height: 557px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mouse_text_1 {
        padding-right: 217px;
        order: 2;
    }

    .mouse_text_1 .heading {
        text-align: left;
    }

    .mouse_text_1 .text {
        text-align: left;
    }

    .mouse_text_2 {
        padding-left: 217px;
        order: 3;
    }

    .mouse_text_2 .heading {
        text-align: right;
    }

    .mouse_text_2 .text {
        text-align: right;
    }

    .mouse_img_1 {
        order: 1;
        background-image: url(img/image\ 1.png);
    }

    .mouse_img_2 {
        order: 4;
        background-image: url(img/image\ 22.png);
    }


}